<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="20%"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      <div class="sidebar-logo" (click)="isCollapsed = !isCollapsed">
          <i nz-icon nzType="desktop" nzTheme="outline" style="font-size: 30px;color: rgba(10, 147, 238, 0.862);"></i>
          <h1 style="font-size: 30px;">ClusterMonitor</h1>
      </div>
      <!-- <div class="user-logo">
        <nz-avatar nzText="U" [nzSize]="35" style="color:#f56a00; background-color:#fde3cf;font-size: large;"></nz-avatar>
        <h2>Username</h2>
      </div> -->
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-menu-item *ngFor="let link of links" [nzMatchRouter]="true" [routerLink]="link.url">
            <i nz-icon nzType="{{link.icon}}"></i>
            <span>{{link.name}}</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <app-header></app-header>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
  