<nz-page-header [nzGhost]="false">
    <nz-page-header-extra>
        <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            <nz-avatar nzText="U" [nzSize]="35" style="color:#f56a00; background-color:#fde3cf;font-size: large;"></nz-avatar>
          </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item><a (click)="logout()">Logout</a></li> 
            </ul>
        </nz-dropdown-menu>
    </nz-page-header-extra>
  </nz-page-header>