<nz-tabset>
    <nz-tab nzTitle="Add node">
      <form [formGroup]="nodeform" class="login-form">
        <label for="IP">IP: </label>
        <input class="inp" id="IP" type="text" formControlName="IP">
        <label for="Name">Name: </label>
        <input class = "inp" id="Name" type="text" formControlName="Name"><br><br>
        <button class="login-form-button login-form-margin">Add</button>
      </form>
    </nz-tab>
    <nz-tab nzTitle="Add group">
      <form [formGroup]="groupform" class="login-form">
        <label for="Name">Name: </label>
        <input class="inp" id="Name" type="text" formControlName="Name">
        <label for="Description">Description: </label>
        <input class = "inp" id="Description" type="text" formControlName="Description"><br><br>
        <button class="login-form-button login-form-margin">Add</button>
      </form>
    </nz-tab>
    <nz-tab nzTitle="Register user">
      <form [formGroup]="userform" class="login-form">
        <label for="Username">Username:  </label>
        <input class="inp" id="Username" type="text" formControlName="username">
        <label for="Password">Password: </label>
        <input class = "inp" id="Password" type="text" formControlName="password1"><br><br>
        <label for="cPassword">Confirm Password: </label>
        <input class = "inp" id="cPassword" type="text" formControlName="password2"><br><br>
        <label for="gname">Group name:  </label>
        <input class = "inp" id="gname" type="text" formControlName="group_name"><br><br>
        <button class="login-form-button login-form-margin">Register</button>
      </form>
    </nz-tab>
</nz-tabset>