<nz-tabset>
  <nz-tab nzTitle="Nodes">
    <form nz-form class="login-form">
      <nz-form-item>
        <label for="IP">IP:</label>
        <input class="inp" name="IP" type="text" [(ngModel)]="nodeForm.ip">
      </nz-form-item>
      <nz-form-item>
        <label for="Name">Name:</label>
        <input class="inp" name="Name" type="text" [(ngModel)]="nodeForm.name">
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="Groups">Groups</nz-form-label>
        <nz-select name="groups" nzMode="multiple" nzPlaceHolder="Please select" [(ngModel)]="nodeForm.groups">
          <nz-option *ngFor="let item of listGroups" [nzLabel]="item" [nzValue]="item"></nz-option>
        </nz-select>
      </nz-form-item>
      <button nz-button class="login-form-button login-form-margin" (click)="addNode()">Add</button>
    </form>

    <nz-table #nodeTable [nzData]="nodeData">
      <thead>
        <tr>
          <th>IP</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of nodeTable.data">
          <td>{{data.ip}}</td>
          <td>{{data.name}}</td>
          <td>
            <a (click)="deleteNode(data.ip)"><i nz-icon nzType="delete" nzTheme="outline"></i></a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="Group">
    <form nzForm [formGroup]="groupForm" class="login-form">
      <nz-form-label nzFor="Name">Name</nz-form-label>
      <input class="inp" id="Name" type="text" formControlName="name">
      <nz-form-label nzFor="Description">Description</nz-form-label>
      <input class="inp" id="Description" type="text" formControlName="description">
      <button nz-button class="login-form-button login-form-margin" (click)="addGroup()">Add</button>
    </form>
    <nz-table #groupTable [nzData]="groupData">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of groupTable.data">
          <td>{{data.name}}</td>
          <td>{{data.description}}</td>
          <td>
            <a (click)="deleteGroup(data.name)"><i nz-icon nzType="delete" nzTheme="outline"></i></a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="Users">
    <form class="login-form">
      <nz-form-item>
        <label for="Username">Username:</label>
        <input class="inp" name="Username" type="text" [(ngModel)]="userForm.username">
      </nz-form-item>
      <nz-form-item>
        <label for="Password">Password:</label>
        <input class="inp" name="Password" type="password" [(ngModel)]="userForm.password1">
      </nz-form-item>
      <nz-form-item>
        <label for="cPassword">Confirm Password:</label>
        <input class="inp" name="cPassword" type="password" [(ngModel)]="userForm.password2">
        <h6 *ngIf="userForm.password1 != userForm.password2" style="color: red;">Passwords do not match</h6>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="Groups">Groups</nz-form-label>
        <nz-select nzMode="multiple" nzPlaceHolder="Please select" name="groups" [(ngModel)]="userForm.groups">
          <nz-option *ngFor="let item of listGroups" [nzLabel]="item" [nzValue]="item"></nz-option>
        </nz-select>
      </nz-form-item>
      <button nz-button class="login-form-button login-form-margin" (click)="addUser()">Register</button>
    </form>
    <nz-table #userTable [nzData]="userData">
      <thead>
        <tr>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of userTable.data">
          <td>{{data.username}}</td>
          <td>
            <a (click)="deleteUser(data.username)"><i nz-icon nzType="delete" nzTheme="outline"></i></a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
  <nz-tab nzTitle="Database">
    <form nz-form class="login-form">
      <nz-form-item>
        <label for="Name">Name:</label>
        <input class="inp" name="Name" type="text" [(ngModel)]="databaseForm.name">
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="Description">Description</nz-form-label>
        <input class="inp" name="desc" id="Description" type="text" [(ngModel)]="databaseForm.description">
      </nz-form-item>
      <nz-form-item>
        <label for="Node">Node:</label>
        <nz-select nzPlaceHolder="Please select the node" name="Node" [(ngModel)]="databaseForm.node">
          <nz-option *ngFor="let item of listNodes" [nzLabel]="item" [nzValue]="item"></nz-option>
        </nz-select>
      </nz-form-item>
      <button nz-button class="login-form-button login-form-margin" (click)="addDatabase()">Add</button>
    </form>
    <nz-table #databaseTable [nzData]="databaseData">
      <thead>
        <tr>
          <th>Name</th>
          <th>IP of server node</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of databaseTable.data">
          <td>{{data.name}}</td>
          <td>{{data.ip}}</td>
          <td>{{data.description}}</td>
          <td>
            <a (click)="deleteDatabase(data.database_id)"><i nz-icon nzType="delete" nzTheme="outline"></i></a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
</nz-tabset>