<div class="background">
<div class="div">
<div>
<img src="./../../assets/logo/monitor.svg" class="img">
</div>
<h1><b>ApplicationMonitor</b></h1>
<form [formGroup]="profileForm" class="login-form">

    <label for="Username">Username: </label>
    <input class="inp" id="Username" type="text" formControlName="Username">
    <label for="Password">Password: </label>
    <input class = "inp" id="Password" type="text" formControlName="Password"><br><br>
    <button class="login-form-button login-form-margin">Log in</button>
</form>
</div>
</div>