@import "../../../assets/bootstrap/css/bootstrap.min.css";

.create-alert-button {
  border-radius: 4px;
  margin-bottom: 2%;
}

.create-alert-button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 1%;
  }

.border-red{
  border : 1px solid red
}

.border-yellow{
  border: 1px solid yellow;
}

.border-blue{
  border : 1px solid blue; 
}

.border-green{
  border : 1px solid green
}