<div class="create-alert-button-container">
    <button nz-button nzType="primary" nzSize="large" class="create-alert-button" (click)="createModalOpen = true">
        <i nz-icon nzType="plus"></i>
        Create Alert
    </button>
</div>

<nz-modal [(nzVisible)]="createModalOpen" nzTitle="Create Alert" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <form nz-form>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="name">Name</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="name" type="name" id="name" [(ngModel)]="newAlert.name">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="desc">Description</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="desc" type="desc" id="desc" [(ngModel)]="newAlert.description">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="type">Entity</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-select nzPlaceHolder="Select a type" name="type" [(ngModel)]="newAlert.entity" (ngModelChange)="newAlert.metric = undefined">
                        <nz-option *ngFor="let item of ENTITY" [nzLabel]="item" [nzValue]="item">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item *ngIf="newAlert.entity">
                <nz-form-label [nzSpan]="6" nzFor="metric">Metric</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-select nzPlaceHolder="Select a metric" name="metric" [(ngModel)]="newAlert.metric">
                        <nz-option *ngFor="let item of newAlert.entity == 'node' ? nodeMetrics : databaseMetrics"
                            [nzLabel]="item" [nzValue]="item"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item *ngIf="newAlert.entity == 'node'">
                <nz-form-label [nzSpan]="6" nzFor="nodeChoose">Nodes</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-select name="nodeChoose" [(ngModel)]="newAlert.entity_ids" nzSize="large" nzMode="multiple"
                        nzPlaceHolder="Please select the nodes" name="Node">
                        <nz-option *ngFor="let item of listNodes" [nzLabel]="item" [nzValue]="item"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item *ngIf="newAlert.entity == 'database'">
                <nz-form-label [nzSpan]="6" nzFor="type">Databases</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-select name="databaseChoose" [(ngModel)]="newAlert.entity_ids" nzSize="large" nzMode="multiple"
                        nzPlaceHolder="Please select the databases">
                        <nz-option-group *ngFor="let optionGroup of listDatabases" [nzLabel]="optionGroup.node">
                            <nz-option *ngFor="let option of optionGroup.databases"
                                [nzValue]="{'node': optionGroup.node, 'database': option.name}"
                                [nzLabel]="option.name">
                            </nz-option>
                        </nz-option-group>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="threshold_type">Threshold Type</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-select nzPlaceHolder="Select a threshold type" name="threshold_type"
                        [(ngModel)]="newAlert.threshold_type">
                        <nz-option *ngFor="let item of ['ABOVE','BELOW','IN_RANGE','OUT_OF_RANGE']" [nzLabel]="item"
                            [nzValue]="item"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item *ngIf="['ABOVE','BELOW'].includes(newAlert.threshold_type)">
                <nz-form-label [nzSpan]="6" nzFor="threshold">Threshold</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <input nz-input name="threshold" type="number" id="threshold" [(ngModel)]="newAlert.threshold_1">
                    </nz-form-control>
            </nz-form-item>
            <nz-form-item *ngIf="['IN_RANGE','OUT_OF_RANGE'].includes(newAlert.threshold_type)">
                <nz-form-label [nzSpan]="6" nzFor="threshold12">Between</nz-form-label>
                    <nz-form-control [nzSpan]="7">
                        <input nz-input name="threshold1" type="number" id="threshold2" [(ngModel)]="newAlert.threshold_1">
                    </nz-form-control>
                    <nz-form-control [nzSpan]="7">
                        <input nz-input name="threshold2" type="number" id="threshold2" [(ngModel)]="newAlert.threshold_2">
                    </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="priority">Priority</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-select nzPlaceHolder="Select an alert type" name="priority"
                        [(ngModel)]="newAlert.alert_priority">
                        <nz-option *ngFor="let item of PRIORITY" [nzLabel]="item.name"
                            [nzValue]="item.value"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="alert_message">Alert message</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="alert_message" type="name" id="alert_message" [(ngModel)]="newAlert.alert_message">
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal>

<nz-list nzGrid>
    <div nz-row [nzGutter]="16">
        <div nz-col [nzXXl]="6" [nzXl]="6" [nzLg]="6" [nzMd]="6" [nzSm]="12" [nzXs]="24" *ngFor="let item of alertList">
            <nz-list-item (click)="1+1">
                <div class="card border-0" style="width: 18rem;" style="background-color: rgb(41,41,51);height: 15vh;">
                    <div class="card-body">
                        <h5 class="card-title" style="color: rgb(21, 104, 246);">{{item.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted" style="font-size: small;">{{item.description}}</h6>
                        <p class="card-text text-muted" style="font-size: smaller;"> {{item.unacknowledged}} unacknowledged alerts</p>
                        <a class="card-link" (click)="openViewHistoryModal(item)"><i nz-icon nzType="eye" nzTheme="outline"></i></a>
                    </div>
                </div>
            </nz-list-item>
        </div>
    </div>
</nz-list>

<nz-modal [(nzVisible)]="viewHistoryModalOpen" nzTitle="{{currAlert.name}}" [nzFooter]="modalFooter">
    <ng-container *nzModalContent>
        <nz-table
      #virtualTable
      [nzData]="currAlert.logs"
      [nzFrontPagination]="false"
      [nzShowPagination]="false"
    >
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Acknowledge</th>
        </tr>
      </thead>
      <tbody>
        <ng-template nz-virtual-scroll let-data let-index="index">
          <tr>
            <td>{{ data.timest }}</td>
            <td>
                <button nz-button *ngIf="data.ack == 0" nzType="primary" class="create-alert-button" (click)="acknowledgeAlert(data.timest, index)">
                    Acknowledge
                </button>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
    </ng-container>
    <ng-template #modalFooter>
        <button nz-button nzType="primary" class="create-alert-button" (click)="viewHistoryModalOpen = false">Close</button>
      </ng-template>
</nz-modal>