@import "../../../assets/bootstrap/css/bootstrap.min.css";

.create-alert-button {
  border-radius: 4px;
  margin-bottom: 2%;
}

.create-alert-button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 1%;
  }